/*
========================================================================================
    NHGRI-EBI GWAS Catalog Nextflow Pipeline - Configuration
========================================================================================
*/

params {
    // Input parameters
    assoc_url      = 'https://ftp.ebi.ac.uk/pub/databases/gwas/releases/latest/gwas-catalog-associations-full.zip'
    ancestry_url   = 'https://ftp.ebi.ac.uk/pub/databases/gwas/releases/latest/gwas-catalog-ancestry.tsv'
    
    // Output directories
    outdir         = 'results_nextflow'
    plots_dir      = 'plots_nextflow'

    // Filtering thresholds
    min_raf        = 0.005  // 0.5%
    max_raf        = 0.020  // 2.0%
}

process {
    executor = 'local'
    cpus     = 2
    memory   = '4 GB'
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
    }
}
